body {
  background-color: #f1c40f;
  display: flex;
}

h1 {
  color: #9b59b6;
  font-size: 5rem;
}

h4 {
  color: #e74c3c;
  font-size: 3rem;
  font-weight: lighter;
  margin: 0;
  margin-bottom: 10px;
}

h3 {
  color: #3498db;
}

ul {
  color: #636e72;
}

.clicked {
  color: #34495e;
}

.form,
.greeting {
  display: none;
}

.show {
  display: block;
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  width: 50%;
  height: 50vh;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toDoContainer {
  width: 80%;
  height: 80%;
  background-color: #f9ca24;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.js_toDoInput {
  width: 300px;
  height: 40px;
  background-color: #f9ca24;
  text-align: center;
  border: none;
  border-bottom: 1px solid #636e72;
}
.js_toDoInput::placeholder {
  color: #636e72;
}

button {
  border: none;
  background-color: #f9ca24;
  color: #636e72;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
